@charset "utf-8";
/******************************************************************************************************************************************************/
/**********************************************************	bookcube web publisher Cha Nam Il *********************************************************/
/***************************************************************** mobiwoos@naver.com *****************************************************************/
/******************************************************************************************************************************************************/

header{height:100px;width:100%;background:#f4f4f4;border-bottom:1px solid #000;text-align:center;}
h1{line-height:100px;}
.content{width:1200px;margin:0 auto;height:2800px;background:#eee;}
footer{height:150px;width:100%;background:#333;}


